
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Customer</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h2>Edit Form</h2>
    <form action="/edit" method="post" enctype="multipart/form-data">

        <div class="form-group">
            <label>Employee Code:</label>
            <input class="form-control" placeholder="Enter code" name="code" th:value="${edit.getCode()}">
        </div>

        <div class="form-group">
            <label>Name:</label>
            <input class="form-control" placeholder="Enter name" name="name" th:value="${edit.getName()}" >
        </div>
        <div class="form-group">
            <label>Age:</label>
            <input class="form-control" placeholder="Enter age" name="age" th:value="${edit.getAge()}">
        </div>
        <div class="form-group">
            <label>Salary:</label>
            <input class="form-control" placeholder="Enter salary" name="salary" th:value="${edit.getSalary()}">
        </div>
        <div class="form-group">
            <label>Branch:</label>
            <select class="form-control" name="branch"  th:text="${edit.getBranch().getName()}">
                <option value="IT">IT</option>
                <option value="Accountant">Accountant</option>
                <option value="Personnel">Personnel</option>
            </select>
        </div>



<!--        <div class="form-group">-->
<!--            <label>ID:</label>-->
<!--            <input  class="form-control" placeholder="Enter id" name="id" th:value="${edit.getId()}"  readonly>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label>Name:</label>-->
<!--            <input  class="form-control" placeholder="Enter name" name="name" th:value="${edit.getName()}" >-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label>Age:</label>-->
<!--            <input  class="form-control"  placeholder="Enter age" name="age" th:value="${edit.getAge()}">-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label>Img:</label>-->
<!--            <input  class="form-control"  placeholder="Enter img" name="upImg" type="file">-->
<!--        </div>-->

        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>

</body>
</html>