<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Customer Management</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <h2>Student Management Service</h2>
    <div class="search-bar">
        <form class="search-form d-flex align-items-center" method="get" action="/search">
            <input type="text" name="search" placeholder="Enter name of student" title="Enter search keyword">
            <button type="submit" title="Search"><i class="bi bi-search"></i>Search</button>
        </form>
    </div>
    <br>
    <div>
        <a href="/create">
            <button type="button" name="create" class="btn btn-success">Add New</button>
        </a>
    </div>
    <br>
    <table class="table" border="1">
        <thead>
        <tr>
            <th>Employee Code</th>
            <th>Name</th>
            <th>Age</th>
            <th>Salary</th>
            <th>Branch</th>
            <th colspan="2">Action</th>
        </tr>
        </thead>
        <tbody>

            <tr th:each="p:${employee}">
                <td th:text="${p.getCode()}"></td>
                <td th:text="${p.getName()}"></td>
                <td th:text="${p.getAge()}"></td>
                <td th:text="${p.getSalary()}"></td>
                <td th:text="${p.getBranch().getName()}"></td>

                <td><a th:href="@{/edit(id=${p.getIdEmployee()})}" class="btn btn-warning">Edit</a></td>
                <td><a th:href="@{/delete(id=${p.getIdEmployee()})}" class="btn btn-danger">Delete</a></td>
            </tr>

        </tbody>

    </table>
</div>

</body>
</html>








